PORT=4000
NODE_ENV=production

POSTGRES_DB=travelorai_db
POSTGRES_USER=travelorai
POSTGRES_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD

DATABASE_URL=postgresql://travelorai:CHANGE_ME_STRONG_DB_PASSWORD@postgres:5432/travelorai_db
REDIS_URL=redis://redis:6379

JWT_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=7d

ALLOWED_ORIGINS=http://178.18.245.174,http://localhost:3000,http://localhost:8081,exp://127.0.0.1:19000

APP_NAME=TravelorAI
MAIL_FROM="TravelorAI <no-reply@travelorai.local>"
SUPPORT_EMAIL=komiljonovsultonboy954@gmail.com
EMAIL_VERIFICATION_TTL_MINUTES=10
PASSWORD_RESET_TTL_MINUTES=10

GOOGLE_CLIENT_IDS=401741517790-g04os3ud83vg4d2op80petc07kc11462.apps.googleusercontent.com,401741517790-11c61fghvchvld521kdi0fu4ee1mo2af.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID_DEBUG=401741517790-g04os3ud83vg4d2op80petc07kc11462.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID_RELEASE=401741517790-g04os3ud83vg4d2op80petc07kc11462.apps.googleusercontent.com
GOOGLE_WEB_CLIENT_ID=401741517790-11c61fghvchvld521kdi0fu4ee1mo2af.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=
GOOGLE_PLACES_API_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FALLBACK_DIRECT=false
SMTP_ALLOW_INVALID_TLS=false
SMTP_DIRECT_NAME=
