POSTGRES_DB=travelorai_db
POSTGRES_USER=travelorai
POSTGRES_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD

WEBSITE_NEXT_PUBLIC_API_URL=/api/v1
NEXT_PUBLIC_GOOGLE_WEB_CLIENT_ID=65326209075-c61csepghm25c26v3j9e1m31egt6t82f.apps.googleusercontent.com
NEXTAUTH_URL=https://travelorai.com
NEXTAUTH_SECRET=CHANGE_ME_LONG_RANDOM_NEXTAUTH_SECRET
ADMIN_EMAIL=admin@travelorai.com
ADMIN_PASSWORD=CHANGE_ME_STRONG_ADMIN_PASSWORD
GOOGLE_PLACES_API_KEY=YOUR_GOOGLE_PLACES_KEY
